.advantages-list{
  @include flex(center, flex-start, column);

  @include adaptive(768px) {
    @include flex(space-between, flex-start);
    flex-wrap: wrap;
  }
}
.advantages-title {
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  text-align: center;
  @include adaptive(768px) {
    text-align: left;
  }
}
.advantages-list-item {
  max-width: 450px;

  &:not(:last-child){
    margin-bottom: 30px;
  }
  @include adaptive(768px) {
    width: 354px;
    &:not(:nth-last-child(-n+2)){
      margin-bottom: 30px ;
    }
  }
  @include adaptive(1200px) {
    width: 270px;
    margin-bottom: 0;
  }

  &:nth-child(1)::before {
    content: "";
    display: block;
    width: inherit;
    height: 120px;
    border-radius: 4px;
    background-image: url(../images/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $wrapper-color;
  }
  &:nth-child(2)::before {
    content: "";
    display: block;
    width: inherit;
    height: 120px;
    border-radius: 4px;
    background-image: url(../images/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $wrapper-color;
  }
  &:nth-child(3)::before {
    content: "";
    display: block;
    width: inherit;
    height: 120px;
    border-radius: 4px;
    background-image: url(../images/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $wrapper-color;
  }
  &:nth-child(4)::before {
    content: "";
    display: block;
    width: inherit;
    height: 120px;
    border-radius: 4px;
    background-image: url(../images/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $wrapper-color;
  }

}
.advantages-describ {
  color: $grey-color;
  @include font(400, 14px, 1.71);
}