.logo{
  @include adaptive(1200px){
    margin-right: 92px;
  }
  font-family: $logo-font;
  @include font(700, 26px, 1.19);
  color: $main-color;

  &.logo-header>span {color: $black-color};
  &.logo-footer>span {color: $white-color};
  &.logo-footer {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
