.modal-wrapper {
  position: fixed;
  @include flex(center);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 100ms linear;

  & > .modal {
    transform: scale(1);
    transition: all 300ms linear;
  }
  &.is-hidden > .modal {
    transform: scale(0);
    transition: all 150ms linear;
  }
}
.is-hidden {
  opacity: 0;
  transition-delay: 100ms;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 80px;
  @include adaptive(768px) {
    top: 120px;
  }
  max-width: 450px;
  @include adaptive(1200px) {
    top: 140px;
    width: 528px;
  }
  padding-bottom: 40px;
  background: $white-color;
  box-shadow: 
      0px 1px 3px rgba(0, 0, 0, 0.12), 
      0px 1px 1px rgba(0, 0, 0, 0.14), 
      0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &-header {
    display: flex;
    justify-content: flex-end;
    padding: 8px 8px 0;

    &-close-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
    }
    &-close-btn__icon {
      width: 11px;
      height: 11px;
      fill: $black-color;
      cursor: pointer;
      transition: $transition-main;
    }
    &-close-btn__icon:hover {
      fill: $main-color;
    }
  }
  
  &-container {
    padding: 0 40px;
  }
  &-title {
    margin: 0 0 12px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $black-color;
  }
  &-input-text-container {
    position: relative;
    margin-bottom: 10px;
  }
  &-input-text-label {
    display: block;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: $grey-color;
  }
  &-input-text{
    width: 100%;
    min-height: 40px;
    padding: 12px 0 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: $transition-main;
  }
  &-input-text__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: $black-color;
    transition: $transition-main;
  }
  
  &-input-text:hover,
  &-input-text:focus {
    outline-style: none;
    border-color: $main-color;
  }
  &-input-text:hover+&-input-text__icon,
  &-input-text:focus+&-input-text__icon{
    fill: $main-color}
  &-input-textarea {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: $transition-main;
  }
  &-input-textarea::placeholder {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &-input-textarea:hover,
  &-input-textarea:focus {
    /* cursor: text; */
    outline-style: none;
    border-color: $main-color;
  }
  &-input-textarea:hover+&-input-text__icon,
  &-input-textarea:focus+&-input-text__icon{
    fill: $main-color}
  
  &-checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &-checkbox__icon {
    fill: none;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 1px solid $black-color;
    border-radius: 2px;
    transition: $transition-main;
  }
  &-checkbox:checked ~ &-checkbox__icon {
    fill: $white-color;
    background-color: $main-color;
    border: none;
  }
  &-checkbox-label {
    font-size: 14px;
    line-height: 1.71;
    color: $grey-color;
  }
  &-checkbox-label:hover {
    cursor: pointer}
  &-checkbox-label > a {
    color: $main-color;
    text-decoration-line: underline;
  }
  
  &-btn {
    display: block;
    margin: 0 auto;
  }
  &-btn:hover {
    cursor: pointer;
  }

}
