$main-color: #2196F3;
/* $main-color: #C70000; */
$header-border: #ECECEC;
$hero-color: #2F303A;
$white-color: #FFFFFF;
$black-color: #212121;
$grey-color: #757575;
$wrapper-color: #F5F4FA;
$footer-color: #2F303A;
$footer-address-color: rgba(255, 255, 255, 0.6);
$portfolio-btn-color: #F5F4FA;
$social-icon-color: #AFB1B8;
$transition-main: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-only-color: 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;